body {
  display: grid;
  height: 100vh;
  grid-template-rows: minmax(50px, 100px) 1fr minmax(50px, 100px);
  grid-template-columns: minmax(100px, 200px) 1fr minmax(150px, 200px);
  grid-template-areas:
    'header header header'
    'nav  article aside'
    'footer footer footer';
}
header {
  background: rgb(36, 0, 136);
  color: rgb(255, 255, 255);

  text-align: center;
  grid-area: header;
}
nav {
  background: rgb(255, 69, 0);
  padding: 1em;
  grid-area: nav;
}
article {
  grid-area: article;
  padding: 1em;
}
aside {
  grid-area: aside;
  background: rgb(155, 0, 155);
  padding: 1em;
}
footer {
  grid-area: footer;
  background: rgb(0, 133, 0);
  color: rgb(255, 255, 255);
  text-align: center;
}
@media (max-width: 600px) {
  body {
    grid-template-rows: 1fr 1fr 5fr 1fr 1fr;
    grid-template-areas:
      'header header header'
      'nav nav nav'
      'article article article'
      'aside aside aside'
      'footer footer footer';
  }
}
